html,
body {
	height: 100%;
}

html {
	font-size: 1rem;
}

body {
	font-family: monospace;
	text-align: center;
	margin: 0;

	/* prettier-ignore */
	--data: (
		projects: [
			{
				href: 'https://scriptex.js.org/2048/',
				name: '2048'
			},
			{
				href: 'https://scriptex.js.org/AnimateMe/',
				name: 'AnimateMe'
			},
			{
				href: 'https://scriptex.js.org/async-array-prototype',
				name: 'async-array-prototype'
			},
			{
				href: 'https://scriptex.js.org/at-the-wall',
				name: 'at-the-wall'
			},
			{
				href: 'https://scriptex.js.org/calendar-widget/',
				name: 'calendar-widget'
			},
			{
				href: 'https://scriptex.js.org/create-pwa/',
				name: 'create-pwa'
			},
			{
				href: 'https://scriptex.js.org/localga/',
				name: 'localga'
			},
		{
				href: 'https://scriptex.js.org/material-tetris/',
				name: 'material-tetris'
			},
			{
				href: 'https://three11.github.io/optisize/',
				name: 'optisize'
			},
			{
				href: 'https://scriptex.js.org/random-splice/',
				name: 'random-splice'
			},
			{
				href: 'https://scriptex.js.org/react-accordion-ts/',
				name: 'react-accordion-ts'
			},
			{
				href: 'https://scriptex.js.org/react-svg-donuts/',
				name: 'react-svg-donuts'
			},
			{
				href: 'https://scriptex.js.org/scss-goodies',
				name: 'scss-goodies'
			},
			{
				href: 'https://scriptex.js.org/svg64',
				name: 'svg64'
			},
			{
				href: 'https://scriptex.js.org/touchsweep',
				name: 'touchsweep'
			},
			{
				href: 'https://scriptex.js.org/typed-usa-states',
				name: 'typed-usa-states'
			},
			{
				href: 'https://scriptex.js.org/weather-app/',
				name: 'weather-app'
			},
			{
				href: 'https://scriptex.js.org/webpack-mpa/',
				name: 'webpack-mpa'
			},
			{
				href: 'https://scriptex.js.org/webpack-mpa-next/',
				name: 'webpack-mpa-next'
			},
			{
				href: 'https://scriptex.js.org/webpack-mpa-ts/',
				name: 'webpack-mpa-ts'
			}
		]
	);

	/* prettier-ignore */
	--html: (
	<html-head-component src="./meta.json" hidden></html-head-component>
	<h1>atanas atanasov (scriptex)</h1>
	<h2>senior <br />javascript / typescript<br />engineer</h2>
	<social-links></social-links>
	<input type="checkbox" id="menu" />
	<label for="menu" aria-label="Open menu">Projects</label>
	<div>
		<label for="menu" aria-label="Close menu">&times;</label>
	</div>
	);

	/* prettier-ignore */
	--js: (
		import('https://unpkg.com/scriptex-socials');
		import('https://unpkg.com/html-head-component');

		const projects = document.querySelector('div');

		data.projects.forEach(({ href, name }) => {
			const a = document.createElement('a');

			a.href = href;
			a.innerHTML = name;

			projects.appendChild(a);
		});
	)
}

body,
ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

h1,
h2,
nav {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	margin: 1rem 0;
}

ul {
	list-style: none outside none;
	padding: 0;
	margin: 0 0 1rem;
}

li {
	padding: 0 0.325rem;
}

a,
svg {
	display: block;
}

label {
	font-size: 1.25rem;
	line-height: 1.25;
	text-transform: lowercase;
	display: inline-block;
	vertical-align: top;
	padding: 0.5rem 1rem;
	border: 1px solid;
	border-radius: 0.25rem;
	cursor: pointer;
}

input[type='checkbox'] {
	display: none;
}

input[type='checkbox']:checked ~ div {
	opacity: 1;
	transform: translateX(0%);
}

div {
	font-size: 1.25rem;
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: center;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #fff;
	transform: translateX(-100%);
	transition-property: opacity transform;
	transition-duration: 0.4s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	will-change: opacity transform;
}

div a {
	text-decoration: none;
	flex: 0 0 100%;
	display: block;
	margin: 0.75rem 0;
}

div label {
	min-width: 2.5rem;
	padding: 0.25rem;
	border: 0;
	position: absolute;
	top: 0.25rem;
	right: 0.25rem;
	z-index: 5;
}

label:hover {
	color: #fff;
	border-color: #000;
	background-color: #000;
}

social-links {
	display: block;
	flex: 0 0 100%;
	padding-bottom: 1rem;
}
