body {
	/* prettier-ignore */
	--data: (
		projects: [
			{
				href: 'https://scriptex.js.org/2048',
				name: '2048'
			},
			{
				href: 'https://scriptex.js.org/AnimateMe',
				name: 'AnimateMe'
			},
			{
				href: 'https://scriptex.js.org/async-array-prototype',
				name: 'async-array-prototype'
			},
			{
				href: 'https://scriptex.js.org/at-the-wall',
				name: 'at-the-wall'
			},
			{
				href: 'https://scriptex.js.org/atanas.info',
				name: 'atanas.info'
			},
			{
				href: 'https://scriptex.js.org/awesome-useless-websites',
				name: 'awesome-useless-websites'
			},
			{
				href: 'https://scriptex.js.org/calendar-widget',
				name: 'calendar-widget'
			},
			{
				href: 'https://scriptex.js.org/create-pwa',
				name: 'create-pwa'
			},
			{
				href: 'https://scriptex.js.org/css-diagnostics',
				name: 'css-diagnostics'
			},
			{
				href: 'https://scriptex.js.org/dator',
				name: 'dator'
			},
			{
				href: 'https://scriptex.js.org/deno-rest-api',
				name: 'deno-rest-api'
			},
			{
				href: 'https://scriptex.js.org/github-pages-vuepress',
				name: 'github-pages-vuepress'
			},
			{
				href: 'https://scriptex.js.org/hilarious-css',
				name: 'hilarious-css'
			},
			{
				href: 'https://scriptex.js.org/html5-form-validator',
				name: 'html5-form-validator'
			},
			{
				href: 'https://scriptex.js.org/html-head-component',
				name: 'html-head-component'
			},
			{
				href: 'https://scriptex.js.org/initial-commit',
				name: 'initial-commit'
			},
			{
				href: 'https://scriptex.js.org/itcss',
				name: 'itcss'
			},
			{
				href: 'https://scriptex.js.org/itcss-emmet-snippets',
				name: 'itcss-emmet-snippets'
			},
			{
				href: 'https://scriptex.js.org/itscss',
				name: 'itscss'
			},
			{
				href: 'https://scriptex.js.org/IntroScroll',
				name: 'IntroScroll'
			},
			{
				href: 'https://scriptex.js.org/localga',
				name: 'localga'
			},
			{
				href: 'https://scriptex.js.org/log',
				name: 'log'
			},
			{
				href: 'https://scriptex.js.org/material-snake',
				name: 'material-snake'
			},
			{
				href: 'https://scriptex.js.org/material-tetris',
				name: 'material-tetris'
			},
			{
				href: 'https://scriptex.js.org/no-html',
				name: 'no-html'
			},
			{
				href: 'https://scriptex.js.org/npm-maintainer',
				name: 'npm-maintainer'
			},
			{
				href: 'https://scriptex.js.org/pass-score',
				name: 'pass-score'
			},
			{
				href: 'https://scriptex.js.org/random-splice',
				name: 'random-splice'
			},
			{
				href: 'https://scriptex.js.org/react-accordion-ts',
				name: 'react-accordion-ts'
			},
			{
				href: 'https://scriptex.js.org/react-dropper',
				name: 'react-dropper'
			},
			{
				href: 'https://scriptex.js.org/react-svg-donuts',
				name: 'react-svg-donuts'
			},
			{
				href: 'https://scriptex.js.org/scriptex',
				name: 'scriptex'
			},
			{
				href: 'https://scriptex.js.org/scriptex.github.io',
				name: 'scriptex.github.io'
			},
			{
				href: 'https://scriptex.js.org/scss-goodies',
				name: 'scss-goodies'
			},
			{
				href: 'https://scriptex.js.org/socials',
				name: 'socials'
			},
			{
				href: 'https://scriptex.js.org/svg64',
				name: 'svg64'
			},
			{
				href: 'https://scriptex.js.org/svgo-viewbox',
				name: 'svgo-viewbox'
			},
			{
				href: 'https://scriptex.js.org/touchsweep',
				name: 'touchsweep'
			},
			{
				href: 'https://scriptex.js.org/ts-helpers',
				name: 'ts-helpers'
			},
			{
				href: 'https://scriptex.js.org/typed-usa-states',
				name: 'typed-usa-states'
			},
			{
				href: 'https://scriptex.js.org/universal-github-client',
				name: 'universal-github-client'
			},
			{
				href: 'https://scriptex.js.org/uptime',
				name: 'uptime'
			},
			{
				href: 'https://scriptex.js.org/url-shortener',
				name: 'url-shortener'
			},
			{
				href: 'https://scriptex.js.org/weather-app',
				name: 'weather-app'
			},
			{
				href: 'https://scriptex.js.org/webpack-mpa',
				name: 'webpack-mpa'
			},
			{
				href: 'https://scriptex.js.org/webpack-mpa-next',
				name: 'webpack-mpa-next'
			},
			{
				href: 'https://scriptex.js.org/webpack-mpa-ts',
				name: 'webpack-mpa-ts'
			},
			{
				href: 'https://three11.github.io/optisize',
				name: 'optisize'
			}
		]
	);
	/* prettier-ignore */
	--html: (
	<input type="checkbox" id="menu" hidden />
	<html-head-component src="./meta.json" hidden></html-head-component>
	<div class="title">
		<h1>atanas atanasov (scriptex)</h1>
		<label for="menu" aria-label="Open menu">Projects</label>
		<h2>senior <br />javascript / typescript<br />engineer</h2>
	</div>
	<div class="activity">
		<h3>Activity</h3>
		<codersrank-activity
			labels
			legend
			tooltip
			branding="false"
			username="scriptex"
		></codersrank-activity>
	</div>
	<div class="education">
		<h3>Education</h3>
		<codersrank-education
			grid
			branding="false"
			username="scriptex"
			education-section-title="Schools"
			certificates-section-title="Certificates"
		></codersrank-education>
	</div>
	<div class="portfolio">
		<h3>Portfolio</h3>
		<codersrank-portfolio
			grid
			branding="false"
			username="scriptex"
		></codersrank-portfolio>
	</div>
	<div class="skills">
		<h3>Skills</h3>
		<codersrank-skills-chart
			labels
			legend
			tooltip
			branding="false"
			username="scriptex"
		></codersrank-skills-chart>
	</div>
	<div class="summary">
		<h3>Summary</h3>
		<codersrank-summary
			username="scriptex"
		></codersrank-summary>
	</div>
	<div class="work">
		<h3>Work</h3>
		<codersrank-work-experience
			grid
			logos
			branding="false"
			username="scriptex"
		></codersrank-work-experience>
	</div>
	<br>
	<social-links></social-links>
	<div class="projects-list">
		<label for="menu" aria-label="Close menu">&times;</label>
	</div>
	<div class="backdrop"></div>
	);
	/* prettier-ignore */
	--js: (
		import('https://unpkg.com/scriptex-socials');
		import('https://unpkg.com/html-head-component');
		import('https://unpkg.com/@codersrank/activity/codersrank-activity.min.js');
		import('https://unpkg.com/@codersrank/education/codersrank-education.min.js');
		import('https://unpkg.com/@codersrank/portfolio/codersrank-portfolio.min.js');
		import('https://unpkg.com/@codersrank/skills-chart/codersrank-skills-chart.min.js');
		import('https://unpkg.com/@codersrank/summary/codersrank-summary.min.js');
		import('https://unpkg.com/@codersrank/work-experience/codersrank-work-experience.min.js');

		const projects = document.querySelector('.projects-list');

		data.projects.forEach(({ href, name }) => {
			const a = document.createElement('a');

			a.href = href;
			a.innerHTML = name;

			projects.appendChild(a);
		});
	)
}

:root {
	--primary: #fff;
	--secondary: #000;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: #000;
		--secondary: #fff;
	}
}

html {
	font-size: 1rem;
}

body {
	font-family: monospace;
	color: var(--primary);
	padding: 1rem;
	max-width: 1280px;
	margin: auto;
	background-color: var(--secondary);
}

h3 {
	text-align: center;
	margin: 0 0 1rem;
}

.title {
	text-align: center;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}

.title h1 {
	margin: 0;
}

.title h2 {
	flex: 0 0 100%;
	padding: 1rem 0;
	border-bottom: 1px solid;
	border-top: 1px solid;
	margin: 1rem 0 0;
}

.work,
.skills,
.summary,
.activity,
.education,
.portfolio {
	padding: 1rem 0;
	border-bottom: 1px solid;
}

label {
	display: block;
	padding: 0.5rem;
	cursor: pointer;
}

label:hover {
	color: var(--secondary);
	background-color: var(--primary);
}

codersrank-portfolio,
codersrank-education,
codersrank-work-experience {
	--grid-columns: 3;
}

@media (max-width: 1024px) {
	codersrank-portfolio,
	codersrank-education,
	codersrank-work-experience {
		--grid-columns: 2;
	}
}

@media (max-width: 768px) {
	codersrank-portfolio,
	codersrank-education,
	codersrank-work-experience {
		--grid-columns: 1;
	}
}

.projects {
}

.backdrop,
.projects-list {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.5s ease-in-out;
}

.projects-list {
	width: 20rem;
	height: 100%;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: var(--secondary);
	transform: translateX(-100%);
}

.projects-list a {
	color: inherit;
	text-decoration: none;
	display: block;
	padding: 1rem;
	border-top: 1px solid;
}

.projects-list a:hover {
	color: var(--secondary);
	background-color: var(--primary);
}

.projects-list label {
	font-size: 1rem;
	line-height: 1.5;
	text-align: center;
	width: 1.5rem;
	height: 1.5rem;
	margin-left: auto;
}

.backdrop {
	width: 100%;
	height: 100%;
	z-index: 50;
	background-color: var(--primary);
	pointer-events: none;
	transition: opacity;
}

#menu:checked ~ .backdrop {
	opacity: 0.7;
	visibility: visible;
	pointer-events: auto;
}

#menu:checked ~ .projects-list {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}
